
# ignore file for the project

# NPM modules
node_modules
npm-debug.log
package-lock.json

# Environment configuration
.env

# Sublime files
*.sublime-project
*.sublime-workspace

# OSX wreckagegit
.DS_Store
Thumbs.db
